
<% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    
    <%= markdown(post.content) %>

    <ul>
    	<li><strong>生产日期</strong>: <%= time_format(post.created_at) %></li>
    	<li><strong>作者</strong>: <%= post.name %></li>
    </ul>

    <% if is_authrized %>
	    <%= link_to 'Show', post %>
	    <%= link_to 'Edit', edit_post_path(post) %>
	    <%= link_to 'Destroy', post, :confirm => 'Are you sure?',
	                                     :method => :delete %>
    <% end %>
<% end %>