<!DOCTYPE html>
<html lang="utf-8">
<head>
  <title>我的博客</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
		<div class="navbar">
		    <div class="navbar-inner">
		    <div class="container">
		        <ul class="nav">
				    <li>
				    	<%= link_to "首页", posts_path %>
				    </li>
				    <li class="divider-vertical"></li>
				    <li><%= link_to "关于", posts_path %></li>
				</ul>	    
			</div>
			</div>
	   	</div>
    	</div>

		<div class="row-fluid">
			<div class="span9"><%= yield %></div>
			<div class="span3">
				<%= yield :side_bar %>
			</div>
		</div>
	</div>
</body>
</html>