<!DOCTYPE html>
<html lang="utf-8">
<head>
  <title>我的博客</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="container-fluid">
		<%= render "shared/header" %>

		<div class="row-fluid">
			<div class="span9"><%= yield %></div>
			<div class="span3">
				<%= yield :side_bar %>
			</div>
		</div>

		<%= render "shared/footer" %>
	</div>
</body>
</html>